@import './fonts';
@import './colors';

@mixin quadrant-set($color){
  background-color: $color;
  height: 300px;
  width: 50%;
}

@mixin set-quad-content($color){
  width: 50%;
  margin: 8% auto;
  text-align: center;
  font-family: 'Baloo Da 2';
  font-size: 1.5rem;
  h2 {
    font-family: 'Sacramento';
  }
  button {
    margin: 0 10px;
    padding: 4% 6%;
    border-radius: 5%;
    border: 1px solid;
    background-color: #fbfdfe;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);;
  }
  button:hover {
    background-color: goldenrod;
  }
}
